@font-face {
  font-family: "Custom";
  src: url("../../content/Jellee-Bold.woff");
}

.homeMain {
  color: black;
}

.mainImage {
  display: flex;
  justify-content: center;
  background-color: #c9e3ec;
}

.mainImage img {
  width: 30%;
  margin: 3em;
}

.supBar {
  z-index: 3;
  background-color: #c9e3ec;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 15px 18px -13px rgba(0, 0, 0, 0.17);
}

.createButton p {
  margin: 0;
}

.createButton {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  font-family: "Custom";
  font-size: 1.3vh;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 2em;
  text-align: center;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  &:visited {
    color: inherit;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(47, 144, 255);
    box-shadow: -1px 0px 14px -5px rgba(0, 0, 0, 0.75);
  }
}
