@font-face {
  font-family: "Custom";
  src: url("../../content/Jellee-Bold.woff");
}

.cardMain {
  display: flex;
  flex-direction: column;
  height: 580px;
  width: 20vw;
  padding: 1.8vw;
}

.cardMain p {
  margin: 5px;
}

.generalCont {
  padding: 0.8vw;
  height: 550px;
  border-radius: 20px;
  box-shadow: 1px 10px 26px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
  
}

.imageCont {
  height: 14vw;
  overflow: hidden;
  border-radius: 20px;
}

.imageCont img {
  position: relative;
  right: 90px;
  width: 150%;
  height: 120%;
}

.infoCont {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60%;
}

.infoCont a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.infoCont h1 {
  font-size: 150%;
  font-family: "Custom";
  margin-bottom: 0.8em;
}

.infoCont p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(76, 76, 76);
}

.infoCont h2 {
  font-family: "Custom";
  font-size: small;
  margin: 0;
  align-self: center;
}

.weight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.weight img {
  width: 20%;
}
